<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div style="padding:4rem 1rem;text-align:center">
            <h1>Property Solutions</h1>
        </div>
        <div style="padding:4rem 1rem;text-align:center">
            Sell your home quickly, in less than a week. At no fee!
            <form action="">
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" value=""><br>
                
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" value=""><br>
                
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" value=""><br>

                <label for="phone_number">Phone Number:</label><br>
                <input type="tel" id="phone_number" name="phone_number" value=""><br>

                <label for="Address">Address of Property:</label><br>
                <input type="Address" id="Address" name="Address" value=""><br><br>

                <button type="submit" style="padding:.5rem 2.5rem;color:#FBFDFF;font-weight:700;background:linear-gradient(to top right, #50CAF9, #5368f1);border-radius:10px;border-width:0;cursor:pointer">submit</button>
            </form>
        </div>
        <!-- <h1>{{ myName }}</h1>
        <ul>
            {% for number in numbers %}
            <li>{{ number }}</li>
            {% endfor %}
        </ul> -->
    </body>
</html>